.push-top {
    margin: 50px 1em;
}
.tracuu {
    margin: 50px 11em;
}
.bg-humg{
    background: url("https://d3av3o1z276gfa.cloudfront.net/images/place/8uWmvhcd860hO7hUWCS0Wf08rbDfBqeO.jpeg");
    background-position: center;
    background-size: cover;
}
.color-red{
    color: red;
}